body{
    background-image: url("../images/Top-5-cocktailuri.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1565px;
}



#i1{
    height: 130px;
    float: left;
    margin: 0px 20px 0px 0px;
}
#i2{
    height: 140px;
    float: left;
    margin: 0px 20px 0px 0px;
}
#i3{
    height: 140px;
    float: left;
    margin: 0px 20px 0px 0px;
}
#i4{
    height: 150px;
    float: left;
    margin-right: 20px;
}